 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
        * {
            text-align: left;
            font-family: "Quicksand", sans-serif;
            margin: 0;
            padding: 0;
        
        }

        body {
            margin: 100px 200px 100px 200px;
            padding: 40px;
            /* border: black 2px solid; */
            border-radius: 20px;
            background-color: white;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }

        
        h5 {
            max-width: 50%;
        }
        h3 {
            font-weight: 400;
        }

        h4.list {
            padding-right: 50%;
        }

        ul {
            padding-left: 20px;
            margin-top: 10px;
        }

        li {
            padding-right: 100px;
        }

        .kontainer {
            margin-top: 40px
        }
        
        .kontainer-list {
            display: flex;
        }

        .kontainer-kerja {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            align-items: center;
            
        }

         .kontainer-kerja-1{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            align-items: center;
            margin-bottom: 10px;
            /* background-color: antiquewhite; */
            
            width: 100%;
        }

        .kontainer-kerja-1 h2, h5 {
            margin-bottom: 12px;
        }
        
        .kontainer-kerja-1 h3 {
            max-width: 80%;
        }

    

        .kerja-img {
            width: 80%;
            height: 200px;
            margin-right: 60px;
            border-radius: 10px 10px 0 0;
        }

        .kerja-img img {
            width: 100%;
            box-sizing: border-box;
            border-radius: 100px 100px 20px 20px;  
            transition: box-shadow .3s, background 0.5s, transform 0.5s;
            border: 5px solid white;
        }

        img:hover {
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            transform: translateY(-20px);
             
        }